# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/bin/
/build/

# Test binary, built with `go test -c`
*.test
*.tmp
tmp

# Output of the go coverage tool
**/*.out

# IDE files
.vscode
.DS_Store
.idea

# Dependencies
/vendor/
vendor/
vendor
/Godeps/

# Postgres
.pgdata/

# Logs
logs/
